.login {
  background-color: #cdcdcd;
  height: calc(100vh - 20vh);
}

.login__spacer {
  height: 20vh;
  background-color: #cdcdcd;
}

.login__login {
  margin-top: 0;
  text-align: center;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.login__paper {
  padding: 1rem;
  margin: auto;
  width: 30rem;
  height: 22rem;
  border-radius: 10px;
}

.login__email {
  padding-top: 3rem;
}

.login__password {
  padding-top: 1rem;
}

.login__text {
  padding-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.login__forgot {
  color: #2bd366;
  text-align: right;
}

.login__flex {
  display: flex !important;
  justify-content: space-between;
  padding: 0 !important;
}

.login__button {
  padding: 0.6rem !important;
  margin-top: 2rem !important;
  margin-left: 1.5rem !important;
  width: 90% !important;
  background-color: #2bd366 !important;
  color: white !important;
  border-radius: 10px !important;
  font-weight: bold !important;
}

.login__create {
  color: #2bd366;
  text-align: center;
  padding-top: 1rem;
}
